# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
.env
.venv
env/
ENV/

# Project caches & raw data
data/raw/*.json
data/database/*.db

# IDEs
.vscode/
.idea/
.DS_Store
